/* Top Section */

.top-bar {
    display: flex;
    margin: auto;
    padding-top: 1rem;
    justify-content: space-between;

}

.image {

    max-width: 23%;
    height: auto;
    width: auto;
    margin-left: 5rem;
}

.text {
    display: flex;
    flex-wrap: nowrap;
    margin-right: 1rem;
    letter-spacing: 1px;
    font-size: 1.1vw;

}

a {
    color: var(--color-primary);
    padding-left: 5px;
}

/* Middle Section */

.mid-bar {
    /* border: 1px solid black; */
    width: 80%;
    margin: auto;
    line-height: 1.1;
    /* border: 3px solid  var(--color-primary); */


}

.mid-info {
    margin-top: 3rem;
    /* border: 3px solid  var(--color-primary); */

}

/* Timer CSS */
.timer {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    font-size: 1vw;
    /* border: 3px solid  var(--color-primary); */

}

.time {
    font-size: 1vw;
    overflow: hidden;
    margin: 9px;
    padding: 4px;
    width: 10%;
    border: 3px solid var(--color-primary);
    border-radius: 10px;

}

.contact {
    display: flex;
    justify-content: space-evenly;

    margin: auto;
    text-align: center;
    border: 3px solid var(--color-primary);
    border-radius: 10px;
    width: 70%
}